# This workflow will upload a Python package to PyPI when a release is created

name: Upload Python package

on:
  release:
    types: [published]

jobs:
  pypi-publish:
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
      contents: read

    # Dedicated environments with protections for publishing are strongly recommended.
    environment:
      name: pypi

    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          python-version: "3.13"
      - name: Build package
        run: uv build
      - name: Publish package
        run: uv publish
